
@font-face
{
	font-family:'IRANSans';
	src:url(../fonts/IRANSans.eot);
	src:url(../fonts/IRANSans.eot?#iefix) format("embedded-opentype"),url(../fonts/IRANSans.woff) format("woff"),url(../fonts/IRAN-Sans.ttf) format("truetype");
	font-weight:300;
	font-style:normal;
	unicode-range:U+0600â€“06FF
}
html{
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom:0px;
	font-family:IRANSans,tahoma !important;
}
h1,h2,h3,h4,h5,h6{
	font-family:IRANSans,tahoma !important;
}
 img {
    max-width: 100% !important;
    min-height: 150px !important;
  }
.panel-title{
	font-family:IRANSans,tahoma !important;
	color: black;
}
.row {
    margin: 0;
}

.navbar-default .navbar-brand {
    color: #05E087;
    font-size: 18px;
}
.text-center a{
	text-decoration: none;
}
